.navbar {
    color: #ffffff;
    font-size: 8pt;
    font-family: arial, helvetica, sans serif;
    white-space: pre;
    text-align: right;
    float: left;
    padding-right: 15px;
    border-right: 3px solid white;
    width: 150px;
    height: 90%;
    margin-right: 15px;
}

.text {
    color: #ffffff;
    font-size: 9pt;
    font-family: arial, helvetica, sans serif;
    margin-right: 20%;
}

.messages {
    background-color: #ddffff;
    color: #006666;
    font-family: arial, helvetica, sans serif;
    font-size: 9pt;
    padding: 5px 5px 5px 5px;
    margin-left: 175px;
}

.listingTitle {
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
}

h3 {
    color: #ffffff;
    background-color: #006060;
    font-size: 11pt;
    font-family: bookman, century schoolbook, times new roman, serif;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
    margin-left: 175px;
    margin-top: 0px;
}

a {
    color: #99ffff ;
    text-decoration: none;
    padding: 2px, 2px, 2px, 2px;
}

a:hover {
    color: #aaffff ;
    background-color: #006060 ;
    text-decoration: underline;
}

body {
    background-color: #339999;
}